<nav> <!-- This is our nav bar -->
    <ul class = nav-unorderedList>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registration</a></li>
        <li><a href="/postimage">Post Image</a></li>
        <li><a href="/viewposts">View Posts</a></li>
        <br>
    </ul>
</nav>