<header>
    <h1>Index Page</h1>
</header>

<main id = "main-content">
<!--        <div id = "img-list" class = "img-list"> &lt;!&ndash; Where we will show the list of products &ndash;&gt;-->

<!--        </div>-->
</main>

