</head>
<!-- body is the body of the webpage-->
<body>
    <div class = container>
        <div role = "main" >
        <main> <!-- meant to be the main content of page, not to be repeated, should be at top level -->
            <form
            action = "/users/login"
            method = "POST"
            enctype="application/x-www-form-urlencoded">
                <h2>Please sign in using your username and password</h2>
                    <!--
                <img src="https://fakeimg.pl/250x100/" alt="fake image">  empty elements, no closing tag
                alt will display that text if image not found
                    -->
                <label for ="username">Username</label> <!-- the username input field -->
                <input class = input-text type = "text" name = "username" id = Username placeholder="Username">

                <label for ="password">Password</label> <!-- the password input field -->
                <input class = input-text type = "password" name = "password" id = password placeholder="password">

                <input class = btn type = "submit" value = "Submit" > <!-- The submit button -->
            </form>
        </main>
        </div>
    </div>
</body>

<!-- can add attributes to header tags <header href = , id = > -->


</html>