
<main>
    <h2>Post your images here!</h2>

    <form> <!-- Post image form -->

        <label for ="PostTitle">Post Title: </label> <br><!-- the post title input field -->
        <input class = input-text type = "text" name = "Post Title" id = PostTitle > <br> <br>

        <label for ="PostDescription">Post Description: </label> <br><!-- the post description input field -->
        <input class = input-text type = "text" name = "Post Description" id = PostDescription > <br> <br>

        <label for ="postImage">Pick your picture to post: </label> <br><!-- the image file input field -->
        <input class = btn type = "file" name = "Image" id = postImage> <br> <br>

        <label for ="confirmPolicy">Agree to Acceptable Use Policy</label>
        <input type = "checkbox" id = confirmPolicy> <br> <br>

        <input class = btn type = "submit" value = "Submit" > <!-- The submit button -->

    </form>
</main>
