<p class = mContentHeader>Please enter the following information to register: </p>
            <form
            method = "POST"
            action = "/users/register"
            enctype = "application/x-www-form-urlencoded">
                <label class = inputEmail for ="email">email</label> <!-- the email input field -->
                <input class = input-text type = "email" name = "email" id = email placeholder="email">

                <!-- name is for the POST request, gives names for the data given -->
                <label class = inputUser for ="username">Username</label> <!-- the username input field -->
                <input class = input-text type = "text" name = "username" id = Username placeholder="Username">

                <br> <br> <!-- two line breaks for aesthetics -->

                <label class = inputPassword for ="password">Password</label> <!-- the password input field -->
                <input class = input-text type = "password" name = "password" id = password placeholder="password">

                <label class = inputConfirmPass for ="confirmPassword">Confirm Password</label> <!-- the password input field -->
                <input class = input-text type = "password" name = "confirmPassword" id = confirmPassword placeholder="confirm password">

                <br> <br> <!-- two line breaks for aesthetics -->

                <label class = confirmAge for ="confirmAge">Confirm you are 13 years or older</label>
                <input type = "checkbox" name = "confirmAge" id = confirmAge required>

                <br> <br> <!-- two line breaks for aesthetics -->

                <input class = btn type = "submit" value = "TOS and Privacy Rules" > <!-- The TOS and Privacy button -->
                <br>
                <label class = TOS for ="confirmTOSagreement">Confirm you agree to the TOS and privacy rules </label>
                <input type = "checkbox" name = "confirmTOSagreement" id = confirmTOSagreement required>

                <br> <br> <!-- two line breaks for aesthetics -->

                <input class = btn type = "submit" value = "Submit" id = submit ><!-- The submit button
                 <input type = "submit" >
                 <button type = "submit" ></button>-->
            </form>
