
    <main class = post>

      <p class = postTitle>Title: This is the title of this post</p>

      <p class = postAuthor>By: Bill Gates </p>

      <img class = postPicture src="https://fakeimg.pl/250x100/" alt="fake image">

      <p class = postDes>Post Description: This is the description of this post</p> <br>

      <p class = timePosted>
        Time Posted: 9:19 pm 9/19/2022
      </p> <br>
    </main>
