body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: greenyellow;
  background-color: gray;
  border: 1px solid black;
}

p {
  color: blue;
}

a {
  color: coral;
}
