/*buttons shouldn't span entire page
all input fields should be the same size
use flex boxes and grids to fix it
color schemes with readability*/

html {
  background-color: var(--backGround);
  font-size: 16px;
  box-sizing: border-box;
}

:root{
  --backGround: #FC4445; /* #FC4445;*/
  --actionColor: #3FEEE6;
  --secondaryBackGround: #55BCC9;
  --inputBackground: #CAFAFE

}

body {
  padding: 50px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 { /*This should be the overall header for the webpage itself*/
  border: 1px solid black;
  background-color: var(--secondaryBackGround);
  margin: 8px;
  padding: 8px;
  text-align: center;
}

.container {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "mcontent"
    "footer";
}

 .nav-unorderedList {
   list-style-type: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   height: 1.5rem;
   align-items: center;
   gap: 1rem;
   flex: 1 75px;
   grid-area: header;
}
 .nav-unorderedList li{
   background-color: var(--secondaryBackGround);
   border-radius: .35rem;
   flex-grow: 1;
 }
.nav-unorderedList li:hover{
   background-color: #2b9b97;
 }
.nav-unorderedList li:active{
   background-color: #1f7270;
 }

a {
  width: 100%; /*make entire link clickable*/
  display: inline-block;
  text-decoration: none;
  color: black;
}

.btn{
  background-color: var(--actionColor);
  border: 1px solid transparent;
  padding: .5em 1em;
  font-size: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #2b9b97; /*darker version of --actionColor*/
}

.btn:active{
  background-color: #1f7270; /*darker version of --actionColor*/

}

.input-text {
  box-shadow: 2px 2px 10px black;
  background-color: var(--inputBackground);
}

section {
  padding: 10px
}

.post {
  grid-area: mcontent;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    "postTitle postAuthor"
    "postPicture postPicture"
    "postDes postDes"
    "timePosted timePosted";
}

.postTitle {
  grid-area: postTitle;
}

.postAuthor {
  grid-area: postAuthor;
}

.postPicture{
  grid-area: postPicture;
  justify-self: center;
}

.postDes{
  grid-area: postDes;
}

.timePosted{
  grid-area: timePosted;
}

input {
text-align: center;
}

footer {
  text-align: center;
  grid-area: footer;
}

.invalid-text{
  outline: solid blue;
}

.valid-text{
  outline: solid green;
}

/* to add our images to the index page*/

.img-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 15vh;
  gap: 1rem;
  padding: 1em;
}

.img-card {
  display: grid;
  border-radius: .35em;
  box-shadow: 2px 2px 10px 10px #eee;
  grid-template-areas: "info";
  gap: 1rem;
  transition: opacity 1s;
}

.removed {
  opacity: 0;
}

.img {
  grid-area: info;
  height: 100%;
  width: 100%;
  border-radius: .35rem;
  object-fit: cover;

}


.img-title {
  grid-area: info;
  margin: 0;
  background-color: transparent;
  flex: 1;
  overflow: hidden;
  z-index: 1; /* to make text on top*/
  justify-self: center;
  align-self: end;
}
